

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,600;1,900&display=swap');



*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    position: relative;
    font-family: "poppins",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section{
    background: hsla(248, 94%, 21%, 0.932);;
    color: antiquewhite ;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}
.title{
    margin-inline:auto;
    font-weight:600;
    font-size: 2rem;
}
.heading{
    font-size:1.8rem;
    font-weight:600;  
    margin-left: 0;  
}
.projects-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.left-section{
    background-color:#287fc4;
    padding:2rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.left-section .container .text{
    padding:1rem;
    background:rgba(112, 112, 245, 0.9);
    border-radius: 10px;
    margin: 0.5rem;
    margin-left:0
}
.image-container{
    padding:5rem;
    border-radius: 10px;

}
.ic-1{
    background:url("./images/index.jpeg");
}
.ic-2{
    background:url("./images/index1.jpeg");
}
button{
    border:none;
    outline: none;
    padding: 0.5rem;
    border-radius:5px;
    background-color: goldenrod;
    color:snow;
    font-weight: 900;
    font-size: 1rem;
}

button:hover{
    background:gold;
    color: #fff;
}
button:active{
    background: rgb(220, 223, 73);
}
.container h3{
    color: #f8e005;
    
}


@media only screen and (max-width: 768px) {
    * {
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        height: 100%;
    }
    .projects-container {
        flex-direction: column-reverse;
    }
    .container{
        padding: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .section{
        justify-content: center;
        align-items: center;
    }
    .left-section {
        padding: 10px 0;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
        
    }
    .image-container {
        width: 90%;
        background-size: cover;
    }
    .text {
        max-width: 100%;
        margin: auto;
        font-size: large;
        text-align: center;
    }
    .img {
        width: 300px;
    }
    .upto {
        font-size: 1.2em;
        text-align: center;
    }
}